// 默认主题为绿色
$main_color: #148c82;
$header_bg: (left top, $main_color, #16a397);
$font_color: #333;
$icon_color_hover: #1db1a5;
$icon_color_active: #11776f;
$boder_focus_color: $main_color;
$boder_direction_color: #DCDFE6;
$vertical_line: #1bafa3;
$input_height: 28px;
// 选中数据的背景颜色
$selected_bg: #edf7f6;